version: '3.9'

services:
  django_web:
    build: .
    container_name: web-server
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - vols:/home/django/data
    ports:
      - "8000:8000"
    environment:
      - DEBUG=1


  rabbitmq:
    hostname: rabbit
    container_name: rmq
    restart: on-failure
    image: rabbitmq:3.9.7-management
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - vols:/home/rabbitmq/data

    command:
      - rabbitmq-server

volumes:
  vols: